{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <div class="login-col">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">

                <legend class="border-bottom"></legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control from-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
           
                    {% else %}

                        {{ form.username(class="form-control from-control-lg") }}

        
                    {% endif %}

                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control from-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control from-control-lg") }}
                    {% endif %}

                </div>
                <div>
                    {{ form.submit(class="") }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="new-col">

        <p> Sign up now.</p>
        <a href="{{ url_for ('auth_bp.register')}}">Register</a>
    </div>
</div>
{% endblock %}