<!DOCTYPE html>
<html lang = "en"></html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        {% if title %}
            <title>GeoGuesser</title>
        {% else %}
            <title>GeoGuesser</title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/geo_main.css')}}"/>

    </head>
<body>
    
    <header>
        {% include 'header.html' %}
    </header>
    <main role="main" class="container">
        {% with messages = get_flashed_messages (with_categories = true)%}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ catagory }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content%}{% endblock %}
    </main>
</body>