{% extends 'layout.html' %}
{%block content%}

<div class = "main -container">
 </div>
 <link rel="stylesheet" type="text/css" href="geo_main.css" />
 <h1>WELCOME TO GEOGUESSER</h1>
 <br>
<div class = "collage" >
    <img class = "suli_image" src="static/img/sullivan.jpg">
</div >
 <h3>Sullivan Heights Edition</h3>
<div class = "text" >
    <div class = "box">
        <h4>About GeoGuesser</h4>
        <p>GeoGuesser Sullivan Heights Edition &#xA9; was founded in May 2023, by Benjamin Richardson with a little bit of aid from Jan Manantan.The app was created to stump people and have them question the level of which they know their school. However, its main purpose is "to make people feel stupid" as Jan had stated on the day this program launched. The team behind this app worked non-stop to get this app ready for public use. Some illegal photos were taken of the school, and several people fell down stairs in an attempt to take them, but in the end, a few broken bones and a $2500 fine did nothing to stop the launch of this app. </p>
    </div>
        
        <h4>How to play</h4>
        <p>Select your preffered difficulty level, and guess  where in the building the picture provided is. Then, plot your supposed location on the map provided and watch in wonder as you fail miserably and question your choices in life.</p>
        <button  class = "click"  style="width:auto;">Play Now</button>
    </div>

 {% endblock %}
