*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
  background-image: url('../img/sulli.jpg');
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size:cover;
}

  .unknown{
    border-radius: 50%; 
    margin-left: 100px; 
    size:20px;

  }

  .text{
    background-color: white;
    margin-left: 400px;
    margin-right: 300px;
    border: solid;
    border-color: black;
    border-radius: 40px;
  }

  h1{
   text-align: center;
   font-size: 50px;
   margin-top:200px;
   margin-bottom: 20px;
   color:black;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color:white;
   margin-left: 550px;
   margin-right: 550px;
   border-radius: 40px;
  }
  header{
    background-color: white;

  }
  .header_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #348aa7;
  }
  
  li {

    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #348aa7;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .menu a{  
    background-color:#5dd39e;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 3%;
    text-decoration: none;
   
    margin: 0 3%;
    width: 200px;
    border: 4px solid navy;
    padding: 15px;
    margin: 10px;
  }
  .login_shift{
    float:right;
    display: flex;
    flex-direction: row;
  }

  .other_shift{
    display: flex;
    flex-direction: row;
    float:left;

  }
  input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
      }
      
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border:#348aa7;
  cursor: pointer;
   width: 100%;
 }
  
.container {
        padding: 16px;
      }
    
.cancel{
    text-decoration: none;
    color: white;
    }
    
.click{
    margin-left: 45%
    }
 h2{
     font-size: 40px;
     margin-left: 22%;
    }
.final{
        color: blue;
    }
.decoration{
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
    .suli_image{
   height: 500px;
   width: 800px;
    }

h3{
    
    font-size: 30px;
    text-align: center;
    margin-left: 720px;
    margin-right: 720px;
    color: black;
    background-color:white;
    border-radius: 40px;
    }
h4{
      margin: 0.5%;
      font-size: 20px;
    }
p{
      margin: 0.5%;
      font-size: 15px;
      margin-bottom: 20px;
    }


.maincontainer{
      margin-top: 10%;
    }
    
.specify{
    margin-left: 100px;
    margin-right: 100px;
  }

h4{
  margin-left:100px; 
}
p{
  
    border: 12px;
    border-color: black;
  }
.login_col{
    margin-left: 50px;
  }
.new{
    font-size: 20px;
  }
  .border-bottom{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
.content-section{
    width: 550px;
    margin-left: 50px;
    border: solid 2.5px black;
    box-shadow: black 7px 7px 2px 2px;
    background-color: #bbcfc9;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
  padding-right: 10px;
  margin-left: 35%;
  margin-top: 20px;
  }
.row{
    width: 550px;
    margin-left: 50px;
    border: solid 2.5px black;
    box-shadow: black 7px 7px 2px 2px;
    background-color: #bbcfc9;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
  padding-right: 10px;
  margin-left: 35%;
  margin-top: 1%;
  }

.user_list{
    font-size: 20px;
    margin-left: 20px;
    list-style: none;

  }
.main-container{
    align-items:center;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 40px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
  }
.click{

    font-size: 25px;
    padding: 20px;
    width: 200px;
    align-items: center;

  }
h5{
    background-color: #CED2C2;
    font-size: 20px;
    text-align: center;
  }
